.billboard {
    width: 99vw;
    height: 1000px;
}

.billboardDetails {
    color: white;
    padding-top: 300px;
    padding-left: 100px;
}

.billboardDescription {
    width: 685px;
    height: 300px;
    font-size: 1.4rem;
}

.billboardButtons {
    display: flex;
}

.billboardButtons button {
    padding: 10px;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.billBoardPlay {
    width: 150px;
    height: 50px;
    
}

.billBoardInfo {
    margin-left: 1rem;
    width: 200px;
    height: 50px;
}