.carouselFlex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
}

.carouselContainer {
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.carouselSlide {
    display: flex;
    border: 10px solid black;
    
}

.carouselSlide[nextSlides='1'] {
    
    animation: nextSlidesBtn 1s ease-in-out forwards;
}

.carouselSlide[prevSlides='1'] {
    animation: prevSlidesBtn 1s ease-in-out forwards;
}

.carouselSlide img {
    width: 500px;
    height: 300px;
}

.carouselFlex button {
    width: 50px;
    height: 50px;
    position: absolute;
}

.nextCarousel {
    right: 0;
}
svg{
    cursor: pointer;
    height: 30px;
}
@keyframes nextSlidesBtn {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-1500px);
        animation-play-state:paused;
    }
}

@keyframes prevSlidesBtn {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1500px);
        animation-play-state:paused;
    }
}